{% extends "admin_base.html" %}
{% block titulo %}Agregar Producto{% endblock %}
{% block topbar_titulo %}Agregar Producto{% endblock %}

{% block contenido %}

<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card border-0 shadow-sm">
      <div class="card-header bg-success text-white">
        <h5 class="mb-0">Nuevo Producto</h5>
      </div>
      <div class="card-body">
        <form method="POST">

          <div class="mb-3">
            <label class="form-label fw-medium">Nombre del producto</label>
            <input type="text" name="nombre" class="form-control" placeholder="Ej: Cuna Clásica" required>
          </div>

          <div class="mb-3">
            <label class="form-label fw-medium">Descripción</label>
            <textarea name="descripcion" class="form-control" rows="3" placeholder="Describe el producto" required></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label fw-medium">Nombre de imagen</label>
            <input type="text" name="imagen" class="form-control" placeholder="Ej: peque-mueble.webp" required>
            <div class="form-text">Debe estar en la carpeta static/img/</div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label fw-medium">Categoría</label>
              <select name="categoria" class="form-select">
                <option>Cunas</option>
                <option>Camas</option>
                <option>Cómodas</option>
                <option>Escritorios</option>
                <option>Sillas</option>
                <option>Clósets</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label fw-medium">Estado</label>
              <select name="estado" class="form-select">
                <option>Activo</option>
                <option>Agotado</option>
                <option>Oculto</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label fw-medium">Precio ($)</label>
              <input type="number" step="1" name="precio" class="form-control" placeholder="Ej: 129990" required>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label fw-medium">Stock</label>
              <input type="number" name="stock" class="form-control" placeholder="Ej: 10" required>
            </div>
          </div>

          <div class="d-flex gap-2 mt-2">
            <button type="submit" class="btn btn-success">Guardar Producto</button>
            <a href="{{ url_for('productos') }}" class="btn btn-outline-secondary">Cancelar</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
